# Byte-compiled / optimized / DLL files
**/__pycache__/
*.py[cod]
*$py.class

# Database
**/db.sqlite3

# Virtual Environment
venv/
.venv/
env/
ENV/

# IDE files
.vscode/
.idea/

# Local settings
.env
